.box {
  position: relative;
  height: 100vh;
}
.list {
  position: absolute;
  display: flex;
  align-items: center;
  list-style: none;
  bottom: 200px;
}

.temp {
  color: whitesmoke;
  font-size: 150px;
  padding: 0 30px;
}
.box_item {
  padding-right: 25px;
}

.name {
  color: whitesmoke;
  font-size: 70px;
}

.time {
  color: whitesmoke;
  font-size: 15px;
}

.text {
  color: whitesmoke;
  font-size: 25px;
}

.title {
  color: whitesmoke;
  font-size: 20px;
  margin: 50px;
}
